body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

header {
  background: darkcyan;
  color: white;
  padding-top: 10px;
  min-height: 50px;
  border-bottom: black 5px solid;
}

header nav {
  float: right;
  margin-top: 10px;
}

header a {
  color: #ffffaa;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  font-size: 15px;
  font-weight: bold;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin: 0;
}

#jumbo {
  min-height: 200px;
  text-align: center;
  background: papayawhip;
  border-bottom: black 5px solid;
}

#jumbo h1 {
  margin-top: 50px;
  font-size: 35px;
  margin-bottom: 10px;
}

#jumbo p {
  font-size: 20px;
}

#main-section {
  margin-top: 50px;
}
#main-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

#main-section h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#description {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#properties {
  border: gray 1px dotted;
}

#properties ul {
}
